<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
【用户表】对象关系映射 配置
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lx.server.dao.UserDao">

	<resultMap id="userResultMap" type="com.lx.server.pojo.User">
		<id property="id" column="id" />
				<result property="nickname" column="nickname" />
				<result property="createTime" column="create_time" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="userResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="userResultMap"></resultMap>


	<insert id="insert" parameterType="com.lx.server.pojo.User" useGeneratedKeys="true" keyProperty="id" >
	   insert into t_user (
	    <include refid="columns" />
	   )values (
	     #{id},
	     #{nickname},
	     #{createTime}
	   )
	</insert>

	<update id="update" parameterType="com.lx.server.pojo.User">
		update t_user
		<set>
		<if test="nickname != null">
			nickname=#{nickname},
		</if>
		<if test="createTime != null">
			create_time=#{createTime},
		</if>
		</set>
		<where>
			1=1
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="n_nickname != null">
				and nickname=#{n_nickname}
			</if>
			<if test="n_createTime != null">
				and create_time=#{n_createTime}
			</if>
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from
	     t_user
	   	where 
	    id=#{id}
	</delete>

	<select id="selectObject" parameterType="map" resultMap="userResultMap">
	   select
	<include refid="columns" />
	   from t_user
	   where
	    id=#{id}
	</select>

	<select id="selectObjectList" parameterType="map" resultMap="userResultMap">
	   select
	<include refid="columns" />
	   from t_user
	   <where>
	 <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_user
	   where
	    id=#{id}
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_user
	   <where>
	   <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageBean" parameterType="map" resultMap="userResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>
	
	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from t_user
	   <where>
			<include refid="normalCondition"/>
	   </where>
	</sql>

	<sql id="normalCondition">
		1=1
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="nickname != null">
			and nickname=#{nickname}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="keyword != null">
			and (name LIKE CONCAT("%", #{keyword}, "%") )
		</if>
		order by  id  desc 
	</sql>
	<sql id="columns">
			id,
			nickname,
			create_time
	</sql>
</mapper>
